@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    /* Add border and padding sizes to the total */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 20px;
}

input[type='text'] { 
    font-size: 24px; 
    width: 30px; 
    padding: 5px;
}

.new-game-form input[type='text'] {
    display: block;
    width: 100%;
    padding: 3px;
    margin: 10px 0 10px 0;
    color: #333;
}

.button { 
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color:darkcyan;
    color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.games {
    margin: 10px auto;
    max-width: 70%;
}

.game {
    display: flex;
    margin: 0 0 10px 0;
}

.home-team-label {
    flex: 1;
}

.away-team-label {
    flex: 2;
}

.home-team {
    flex: 1;
    margin: 0 0 0 10px;
}

.away-team {
    flex: 1;
    margin: 0 20px 0 0;
}