@import url("https://fonts.googleapis.com/css2?family=Lato");

/* * {
    Use this section to reset all elements
    Add border and padding sizes to the total
    box-sizing: border-box;
} */

/* Main Elements */

$body-color: #333;
$site-font-family: "Lato", sans-serif;

body {
  font-family: $site-font-family;
  color: $body-color;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #047aed;
  color: #fff;

  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

/* Game Section */

.games {
  margin: 30px auto;
  max-width: 56%;
  font-size: 38px;

  .game-date {
    box-shadow: 20px 10px 20px lightblue;
    padding: 30px;
    display: flex;
    margin: 0 0 40px 0;
    color: steelblue;
  }

  .game {
    display: flex;
    margin: 0 0 40px 0;
    padding: 10px;
    box-shadow: 20px 10px 20px rgb(168 168 168);
  }

  .teams-label {
    margin: 0 0 0 30px;
    flex: 1;
  }

  .score {
    padding: 0 0 10px 0;
  }

  .home-team {
    flex: 1;
  }

  .away-team {
    flex: 1;
  }
}

/* Form elements */

input[type="text"] {
  font-size: 24px;
  width: 30px;
  padding: 5px;
}

.button {
  background-color: #47a3ff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(30, 131, 247);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .games {
    max-width: 80%;
    align-content: center;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .games {
    font-size: 30px;
  }
}
