@import url('https://fonts.googleapis.com/css2?family=Lato');

/* * {
    Use this section to reset all elements
    Add border and padding sizes to the total
    box-sizing: border-box;
} */


/* Main Elements */

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}


/* Navbar */
.navbar {
    background-color: #047aed;
    color: #fff;
}

.navbar .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}


/* Game Section */

.games {
    margin: 10px auto;
    max-width: 70%;
}

.game {
    display: flex;
    margin: 0 0 10px 0;
}

.home-team-label {
    flex: 1;
}

.away-team-label {
    flex: 2;
}

.home-team {
    flex: 1;
    margin: 0 0 0 10px;
}

.away-team {
    flex: 1;
    margin: 0 20px 0 0;
}

/* Form elements */

input[type='text'] { 
    font-size: 24px; 
    width: 30px; 
    padding: 5px;
}

.new-game-form input[type='text'] {
    display: block;
    width: 100%;
    padding: 3px;
    margin: 10px 0 10px 0;
    color: #333;
}

.button { 
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color:darkcyan;
    color: #fff;
}

@media(max-width: 600px) {
    .games {
        max-width: 75%;
        align-content: center;
    }
}